<div class="container pt-4 pb-4">
	<h5 class="font-weight-bold spanborder"><span>Read Latest</span></h5>
	<div class="row">
		<div class="col-lg-6">
			{{#if posts.[5]}}
			<div class="card border-0 mb-4 box-shadow h-xl-300">
				<div style="background-image: url({{posts.[5].image_url}}); height: 150px; background-size: cover; background-repeat: no-repeat;">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="/post/{{posts.[5].post_id}}">{{posts.[5].post_title}}</a>
					</h2>
					<p class="card-text">
						{{getFirstSentence posts.[5].post_body}}
					</p>
					<div>
						<small class="d-block"><a class="text-muted" >{{posts.[5].user.username}}</a></small>
						<small class="text-muted">{{posts.[5].post_date}}</small>
					</div>
				</div>
			</div>
			{{else}}
			<h2>You are all caught up!</h2>
			{{/if}}
		</div>
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				{{#if posts.[6]}}
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="{{posts.[6].image_url}}">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/post/{{posts.[6].post_id}}">{{posts.[6].post_title}}</a>
						</h2>
						<div class="card-text text-muted small">
							 {{posts.[6].user.username}}
						</div>
						<small class="text-muted">{{posts.[6].post_date}}</small>
					</div>
				</div>
				{{/if}}
				{{#if posts.[7]}}
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="{{posts.[7].image_url}}">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/post/{{posts.[7].post_id}}">{{posts.[7].post_title}}</a>
						</h2>
						<div class="card-text text-muted small">
							 {{posts.[7].user.username}}
						</div>
						<small class="text-muted">{{posts.[7].post_date}}</small>
					</div>
				</div>
				{{/if}}
				{{#if posts.[8]}}
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="{{posts.[8].image_url}}">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/post/{{posts.[8].post_id}}">{{posts.[8].post_title}}</a>
						</h2>
						<div class="card-text text-muted small">
							 {{posts.[8].user.username}}
						</div>
						<small class="text-muted">{{posts.[8].post_date}}</small>
					</div>
				</div>
				{{/if}} 
			</div>
		</div>
	</div>
</div>