{{#if sessionData.isLoggedIn}}
  {{>dashnav}}
{{else}}
{{>navbar}}
{{/if}}

<p style="display:none;" id="post-id">{{userPost.post_id}}</p>
<div class="container">
	<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
					<p class="text-uppercase font-weight-bold">
						<a class="text-danger" href="./category.html">Stories</a>
					</p>
					<h1 class="display-4 secondfont mb-3 font-weight-bold">{{userPost.post_title}}</h1>
					<div class="d-flex align-items-center">
					  	<small class="ml-2">Written by: {{userPost.user.username}} <span class="text-muted d-block">{{userPost.post_date}}</span>
						</small>
					</div>
				</div>
				<div class="col-md-6 pr-0">
					<img src="{{userPost.image_url}}">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-4 pb-4">
	<div class="row justify-content-center">
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top text-center">
				<div class="text-muted">
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-8">
			<article class="article-post">
			<p>
        {{{userPost.post_body}}}
			</p>
			</article>
		</div>
	</div>
</div>

{{>readnext}}

{{!-- Comment Section --}}
    <div class="card">
      <div class="card-header bg-dark text-white">
        Notes from Author
      </div>
      <div class="card-body">
        <ul>
          {{#each userComments as |comment|}}
            <p>{{comment.comment_text}}</p>
            <p>By: {{comment.user.username}}</p> 
            <p>Date: {{comment.comment_date}}</p>
            <hr />
          {{/each}}
        </ul>
      </div>
    </div>
{{#if sessionData.isLoggedIn}}
    <div class="container">
      <div class="card mb-3">
        <div class="card-header bg-dark text-white">
          Add a Comment
        </div>
        <div class="card-body d-flex flex-column">
          <textarea class="form-control mb-4" id="comment-text" rows="5" placeholder="Add Comment..."></textarea>
          <button class="btn btn-outline-secondary" id="post-comment-btn">Add Comment</button>
        </div>
      </div>
    </div>
{{/if}}


  </div>
</section>

<script
  src="https://upload-widget.cloudinary.com/global/all.js"
  type="text/javascript"
></script>

<script src="/js/comment.js"></script>

