{{#if sessionData.isLoggedIn}}
  {{>dashnav}}
{{else}}
{{>navbar}}
{{/if}}

<div class="container">
  {{#if posts.[0]}}
	<div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative">
		<div class="pl-4 pr-0 tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-6 pb-6 align-self-center">
					<h1 class="secondfont mb-3 font-weight-bold">{{posts.[0].post_title}}</h1>
					<p class="mb-3">
						{{{truncateBlog posts.[0].post_body}}}...
					</p>
					<a href="/post/{{posts.[0].post_id}}" class="btn btn-dark">Read More</a>
				</div>
				<div class="header-image col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{posts.[0].image_url}});">	</div>
			</div>
		</div>
	</div>
</div>
{{/if}} 
 
<div class="container pt-4 pb-4">
	<div class="row">
    {{#if posts.[1]}}
		<div class="col-lg-6">
			<div class="card border-0 mb-4 box-shadow h-xl-300">              
                <div style="background-image: url(/assets/cyber-sec.jpg); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>               
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="/post/{{posts.[1].post_id}}">{{posts.[1].post_title}}</a>
					</h2>
					<p class="card-text">
						 {{truncateBlog posts.[1].post_body}}...
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="/post/{{posts.[1].post_id}}">{{posts.[1].user.username}}</a></small>
						<small class="text-muted">{{posts.[1].post_date}} &middot; 5 min read</small>
					</div>
				</div>
			</div>
		</div>
    {{/if}} 
    
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
        
        {{#if posts.[2]}}
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/assets/sci-comp.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/post/{{posts.[2].post_id}}">{{posts.[2].post_title}}</a>
						</h2>
						<div class="card-text text-muted small">
							{{posts.[2].user.username}}
						</div>
						<small class="text-muted">{{posts.[2].post_date}} &middot; 5 min read</small>
					</div>
				</div>
        {{/if}} 


        {{#if posts.[3]}}
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/assets/laptop.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/post/{{posts.[3].post_id}}">{{posts.[3].post_title}}</a>
						</h2>
						<div class="card-text text-muted small">
							 {{posts.[3].user.username}}
						</div>
						<small class="text-muted">{{posts.[3].post_date}} &middot; 5 min read</small>
					</div>
				</div>
        {{/if}} 


        {{#if posts.[4]}}
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/assets/tech-computer-landing.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/post/{{posts.[4].post_id}}">{{posts.[4].post_title}}</a>
						</h2>
						<div class="card-text text-muted small">
							 {{posts.[4].user.username}}
						</div>
						<small class="text-muted">{{posts.[4].post_date}} &middot; 5 min read</small>
					</div>
				</div>
         {{/if}} 
		
			</div>
		</div>
	</div>
</div>
{{!-- All stories rendered as list section --}}
<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
			{{#if posts.[0]}}
			{{#each posts as |post|}}
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
					<a class="text-dark" href="/post/{{post.post_id}}">{{post.post_title}}</a>
					</h2>
					<p>
						{{getFirstSentence post.post_body}}
					</p>
					<div class="card-text text-muted small">
						 {{post.user.username}}
					</div>
					<small class="text-muted">{{post.post_date}} &middot; 5 min read</small>
				</div>
				<img height="120" src="{{post.image_url}}">
			</div>
			{{/each}}
		</div>
		{{/if}}
{{!-- Popular Posts display section --}}
		<div class="col-md-4 pl-4">
            <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
			{{#if posts.[4]}}
			<ol class="list-featured">
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/post/{{posts.[4].post_id}}" class="text-dark">{{posts.[2].post_title}}</a>
				</h6>
				<p class="text-muted">
					{{getFirstSentence posts.[2].post_body}}
				</p>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/post/{{posts.[4].post_id}}" class="text-dark">{{posts.[4].post_title}}</a>
				</h6>
				<p class="text-muted">
					{{getFirstSentence posts.[4].post_body}}
				</p>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/post/{{posts.[0].post_id}}" class="text-dark">{{posts.[0].post_title}}</a>
				</h6>
				<p class="text-muted">
					{{getFirstSentence posts.[0].post_body}}
				</p>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/post/{{posts.[1].post_id}}" class="text-dark">{{posts.[1].post_title}}</a>
				</h6>
				<p class="text-muted">
					{{getFirstSentence posts.[1].post_body}}E
				</p>
				</span>
				</li>
			</ol>
			{{/if}}
		</div>
	</div>
</div>






